*          text=auto

*.cs       text diff=csharp
*.cshtml   text diff=html
*.csx      text diff=csharp
*.sln      text eol=crlf merge=union
*.csproj   text merge=union

WebApp.MVC/Content/* linguist-vendored
WebApp.MVC/Scripts/* linguist-vendored
